name: mre-recon
channels:
  - pytorch
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - scipy
  - matplotlib
  - jupyterlab
  - pip
  - pip:
      - torch
      - torchvision
      - torchaudio
      - torchkbnufft
